@import url('~/platform.css');
Page {
    background-color: white;
    font-size: 17;
}
TextField {
    margin: 10;
    padding: 10;
}
Image {
    margin-top: 20;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 80;
}
Button {
    margin: 10;
    padding: 10;
}
ActionBar {
    color: white;
    background-color: #2E6DAD;
}
.fontawesome {
   font-family: 'FontAwesome';
   font-size: 22;
}
.fa-spin {
  animation-name: spin;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-play-state: running;
}
@keyframes spin {
  from { transform:rotate(0deg); }
  to { transform:rotate(360deg); }
}
#itemList .name {
  font-size: 20;
  margin:0;
}
.fa-check-circle {
  color: green;
}
.fa-circle {
  color: #F5F5F5;
}